# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# OPENAI_API_KEY: Optional
OPENAI_API_KEY=

# FEATHERLESS_API_KEY: Optional
FEATHERLESS_API_KEY=

# Base URLs
FEATHERLESS_BASE_URL="https://api.featherless.ai/v1"
LMSTUDIO_BASE_URL="http://localhost:1234/v1"
OLLAMA_BASE_URL="http://localhost:11434/v1"